// Custom SCSS for dcHiChIP documentation styling


/* -----------------------
   Top Navigation Styling
------------------------ */

// Highlight active nav item
.navbar-nav .nav-item > a {
  &.active {
    color: $white;
    background-color: $primary;
    border-radius: $border-radius;
  }
}

// Branding font and color
.navbar {
  .navbar-brand {
    font-size: 2.25rem;
    color: $dark !important;
  }
}

/* -----------------------
   General Styling
------------------------ */

// Ensure all images are responsive
img {
  @extend .img-fluid;
}

// Add top border to all h2s
h2 {
  padding-top: 10px;
  display: block;
  border-top: 1px solid $table-border-color;
}

/* -----------------------
   Section Navigation Tiles
------------------------ */

// Adapted from ELIXIR Infectious Disease Toolkit

.navigation-tiles {
  .card:hover {
    box-shadow: $box-shadow;
  }

  .card-header {
    a:hover {
      text-decoration: none;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  .card-text {
    font-size: 0.9rem;
  }
}
